@functions {

    public int gerar(int min, int max){
        Random r = new Random();
        return r.Next(min, max);
    }
    // function for no reason
    public string verifyNumber(int num)
    {
        if(num % 2 == 0){
            string mens =  "é par";
            return mens;
        }
        else{
            string mens = "é impar";
            return mens;
        }
    }

}

@{
    int number2 = gerar(0,100);
    string num = verifyNumber(number2);
}

<p>O numero @number2  @num</p>




